<h1>>/Posts $</h1>
<hr>
<% @years.each do |year| %>
  <div class="year-group">
    <h2><%= year %></h2>
    <div class="posts">
      <% @posts.select { |post| post[:date].year == year }.each do |post| %>
        <div class="post-elem">
            <div class="post">
              <div class="post-title">
                <a href="/post/<%= post[:id] %>"><h3><%= post[:title] %></h3></a>
              </div>
              <div class="post-content">
                <p><%= post[:content] %></p>
              </div>
            </div>
          <div class="post-date">
            <p><%= post[:date].strftime("%-d %b") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>
