<div class="title-div">
  <h1>>/posts/<%= @post[:title] %> $</h1>
  <div class="buttons-div">
    <% if current_user[:isAdmin] == 1 %>
      <a href="/edit/<%= @post[:id] %>" class="main-button"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
    <% end %>
    <a href="#" onclick="history.back()" class="main-button">cd ..</a>
  </div>
</div>
<div class="reading-info">
  <p><i class="fa-regular fa-clock"></i> Estimated reading time: <%= (@post[:content].to_s + @post[:publish_content].to_s).reading_time %></p>
</div>
<hr>
<div class="post-container">
  <% unless @post[:ctf_name].nil? %>
    <%= prepare_post(@post[:publish_content]) %>
    <hr>
  <% end %>
  <p><%= @post[:content] %></p>
</div>
