<h1>>/Posts/[<%= @current_page * 6 - 5 %>:<%= [@current_page * 6, @total_posts].min %>]/<%= @total_posts %> $</h1>
<div class="sort-buttons">
  <h3>Sort by:</h3>
  <a href="/categories" class="main-button">Categories</a>
  <a href="/tags" class="main-button">Tags</a>
</div>
<hr>
<% @years.each do |year| %>
  <div class="year-group">
    <h2><%= year %></h2>
    <div class="posts">
      <% @posts.select { |post| post[:date].year == year }.each do |post| %>
        <div class="post-elem">
          <a href="/post/<%= post[:id] %>">
            <% unless post[:thumbnail].nil? %>
              <img src="./images/thumbnails/<%= post[:thumbnail] %>" alt="" class="post-tumbnail">
            <% else %>
              <div class="post-thumbnail placeholder"><i class="fa-solid fa-panorama fa-5x"></i></div>
            <% end %>
          </a>
          <div class="post">
            <div class="post-title">
              <a href="/post/<%= post[:id] %>"><h3><%= post[:title].titleize %></h3></a>
            </div>
            <div class="post-content">
              <p><%= post[:content].trimm_to_preview %></p>
            </div>
          </div>
          <div class="post-date">
            <p><%= post[:date].strftime("%-d %b") %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <hr>
<% end %>

<div class="pagination">
  <% if @current_page > 1 %>
    <a href="/posts?page=<%= @current_page - 1 %>" class="main-button">Previous</a>
    <a href="#" class="main-button"><%= @current_page %></a>
  <% end %>
  <% if @current_page < @total_pages %>
    <a href="/posts?page=<%= @current_page + 1 %>" class="main-button">Next</a>
  <% end %>
</div>
